# Samromur specific
s5*/data/
s5*/exp/
s5*/mfcc/
s5*/steps
s5*/utils
s5*/audio/
s5*/*_data/
s5*/logs/
s5*/metadata/
s5*/feat/
local_files/

# local scripts
s5_inga

# Compiled Object files and python ciles
*.slo
*.lo
*.o
*.obj
*.pyc

# Log files
*.testlog
*.log

# Temporary files
*.tmp
tmp*

notes
